/* general */
body {
  margin: 20px 0;
  font-family: serif;
  font-size: 16px;
}

[class^="col-"] {
  padding: 10px;
}

/* header */
/* empty */

/* main */
.text_align_center {
  text-align: center;
}

.background-color-grey {
  background-color: #BDC0C6;
}

.img_radius {
  border-radius: 50%;
  background-color: #428bca;
}

.line {
  border-bottom: 1px solid black;
}

/* large */
@media screen and (min-width: 992px) {
  .paragraph_title {
    font-size: 2em;
  }

  .paragraph_subtitle {
    font-size: 1.5em;
  }

  .img_height {
    height: 200px;
  }

  .img_padding {
    padding: 20px;
  }

  .margin_top {
    margin-top: 20px;
  }
}

/* medium */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .paragraph_title {
    font-size: 1.8em;
  }

  .paragraph_subtitle {
    font-size: 1.3em;
  }

  .img_height {
    height: 120px;
  }

  .img_padding {
    padding: 16px;
  }

  .margin_top {
    margin-top: 10px;
  }
}

/* small */
@media screen and (max-width: 768px) {
  .paragraph_title {
    font-size: 1.6em;
  }

  .paragraph_subtitle {
    font-size: 1.2em;
  }

  .img_height {
    height: 90px;
  }

  .img_padding {
    padding: 12px;
  }

  .margin_top {
    margin-top: 8px;
  }
}

/* footer */
/* empty */
